.btn.btn-primary.addArtist{
    margin-top: 40px;
}
.form-group.uploadImg{
    margin-top: 40px;
}

.btn.btn-danger.btn-sm.mr-2.delete-event{
    margin-bottom: 20px;
}
#addEventForm{
    margin: 30px;
}
.form-group{
    max-width: 700px;
    min-width: 250px;
  
    margin-right: 140px;
}
.addEvent{
    margin: 30px;
}
.table.table-striped{
    margin: 30px;
    max-width: 1200px;
}
.djImg {
    min-height: 235px;
    width: 220px;
    margin-top: 30px;
    margin-right: 10px;
  }

#editUserModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ensure modal appears above other content */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* The Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
