body {
    font-family: Figtree;
}

.welcome-banner {
    width: 80%;
    height: 120px;
    background-image: url('/img/welcome_banner.png');
    position: relative;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.welcome-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(157, 0, 160, 0.50);
    border-radius: 15px;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Figtree;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 4px;
}

h2.title {
    color: #C0373C;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 0;
}

.navigation-cards {
    width: fit-content;
    display: grid;
    grid-template-areas: 
        "square1 square2 vertical"
        "square3 square4 vertical";
    gap: 10px;
    grid-template-columns: 0fr 0fr 0fr;
    margin: 0.5rem auto 1rem auto;
}

.vertical-navigation-card-container {
    grid-area: vertical;
}
.navigation-card-container:nth-child(1) {
    grid-area: square1;
}
.navigation-card-container:nth-child(2) {
    grid-area: square2;
}
.navigation-card-container:nth-child(3) {
    grid-area: square3;
}
.navigation-card-container:nth-child(4) {
    grid-area: square4;
}

.banner-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem auto 1.5rem auto;
}

.navigation-card-container {
    width: 355px;
    height: 305px;
    position: relative;
    margin: 1rem;
}

.vertical-navigation-card-container {
    width: 205px;
    height: 669px;
    position: relative;
    margin: 1rem;
}

.navigation-card-backdrop {
    width: 350px;
    height: 300px;
    border-radius: 15px;
    background: #000;
    position: absolute;
    right: 0;
    bottom: 0;
}

.vertical-navigation-card-container .navigation-card-backdrop {
    width: 200px;
    height: 664px;
}

.navigation-card {
    width: 350px;
    height: 300px;
    border-radius: 15px;
    border: 5px solid #D58386;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: left 300ms ease, top 300ms ease, right 300ms ease, bottom 300ms ease;
    position: absolute;
    left: 0;
    right: 5px;
    top: 0;
    bottom: 5px;
    cursor: pointer;
}

.vertical-navigation-card-container .navigation-card {
    width: 200px;
    height: 664px;
}

.navigation-card-container-big {
    width: 1279px;
    height: 305px;
}

.navigation-card-backdrop-big {
    width: 1274px;
    height: 300px;
}

.navigation-card-big {
    width: 1274px;
    height: 300px;
}

.navigation-card:hover {
    left: 5px;
    top: 5px;
    right: 0;
    bottom: 0;
}

.navigation-card h3 {
    position: absolute;
    bottom: 5px;
    left: 20px;
    color: #FFF;
    text-shadow: 0px 4px 4px #000;
    font-family: Figtree;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2.5px;
}

@media (max-width: 1500px) {
    .navigation-cards {
        grid-template-areas: 
            "square1 square2"
            "square3 square4"
            "vertical vertical";
    }

    .vertical-navigation-card-container {
        width: calc(100% - 16px);
        height: 305px;
    }

    .vertical-navigation-card-container .navigation-card, .vertical-navigation-card-container .navigation-card-backdrop {
        width: calc(100% - 5px);
        height: 300px;
    }
}

@media (max-width: 900px) {
    h2.title {
        font-size: 35px;
    }

    .navigation-cards {
        grid-template-areas: 
            "square1" 
            "square2"
            "square3" 
            "square4"
            "vertical";
    }

    .vertical-navigation-card-container {
        width: 355px;
        height: 305px;
    }

    .vertical-navigation-card-container .navigation-card, .vertical-navigation-card-container .navigation-card-backdrop {
        width: 350px;
        height: 300px;
    }
}

@media (max-width: 430px) {
    h2.title {
        font-size: 30px;
    }

    .navigation-card-container, .vertical-navigation-card-container {
        width: 255px;
        height: 220px;
    }

    .navigation-card {
        width: 250px;
        height: 215px;
    }

    .navigation-card-backdrop, .vertical-navigation-card-container .navigation-card, .vertical-navigation-card-container .navigation-card-backdrop {
        width: 250px;
        height: 215px;
    }

    .navigation-card h3 {
        font-size: 25px;
    }
}

h3.festival-card-title {
    font-size: 40px;
    top: 20px;
    left: 25px;
}

.new-line {
    display: block;
}

@media (max-width: 1310px) {
    .navigation-card-container-big {
        width: calc(90% - 5px);
    }

    .navigation-card-backdrop-big {
        width: calc(100% - 5px);
    }

    .navigation-card-big {
        width: calc(100% - 5px);
    }

    h3.festival-card-title {
        font-size: 30px;
    }
}