@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

@media (min-width: 900px) {
    .dropdown:has(.dropdown-menu.show) {
        position: static;
    }

    .dropdown-menu.show {
        display: flex;
        width: 100%;
        border-radius: 0 0 120px 120px;
        border: none;
        box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.75);
        justify-content: space-around;
        left: 0;
        margin-top: 0;
    }

    .dropdown-item {
        color: #C0373C;
        font-family: Figtree;
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 2.5px;
        padding: 0.75rem;
        transition: 300ms;
    }
}

.dropdown-item:hover {
    background-color: #FFF;
    color: #000;
}

.navbar-nav .nav-link.show {
    color: #C0373C;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 30px 0;
}

.nav-link {
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding: .5em;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar .container-fluid {
    max-width: 1300px;
}

.logo {
    max-height: 50px;
    padding: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.footer-background {
    display: flex;
    background-image: url(/img/Footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 230px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.footer-background form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Figtree;
}

.footer-background form label {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subscription-form {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footer-background input {
    padding: 0.75rem;
    border-radius: 10px;
    background: #FFF;
    filter: drop-shadow(5px 6px 0px #000);
    outline: none;
    border: none;
}

.footer-background input[type="email"] {
    width: 275px;
}

.footer-background input[type="submit"] {
    color: #FFF;
    background: #791112;
}

.footer-background input[type="submit"]:hover {
    filter: drop-shadow(4px 5px 0px #000);
    transform: translate(1px, 1px);
}

.footer-background input[type="submit"]:active {
    filter: drop-shadow(2px 2px 0px #000);
    transform: translate(3px, 4px);
}

.social-footer {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 2rem 0;
}

.social-footer p {
    color: #000;
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0.5rem;
    text-align: center;
}

.social-footer .social-icons {
    display: flex;
    gap: 10px;
}

.social-footer .social-icons i {
    border-radius: 10px;
    background: rgba(157, 0, 160, 0.35);
    box-shadow: 4px 6px 0px 0px rgba(0, 0, 0, 0.8);
    font-size: 20px;
    padding: 0.75rem;
    cursor: pointer;
}

.social-footer .social-icons i:hover {
    box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.8);
    transform: translate(1px, 1px);
}

.social-footer .social-icons i:active {
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.8);
    transform: translate(2px, 3px);
}

@media (max-width: 430px) {
    .subscription-form {
        width: 90%;
        flex-direction: column;
        gap: 15px;
        margin-top: 20px;
    }

    .footer-background input[type="email"] {
        width: 100%;
    }
}

.headPic{
    height: 500px;
    width: 100%;
}

.artCultureHead {
    text-align: center;
    margin-top: 45px;
    font-weight: bold;
}

.artCultureHeadP {
    text-align: center;
    font-weight: 600;
    font-size: x-large;
    margin-top: 25px;
    margin-bottom: 45px;
    margin-right: 95px;
    margin-left: 95px;
}

.overlayBox {
    background-color: #FF7A00;
    width: 400px;
    float: left;
    border-radius: 0px 110px 110px 0px;
}

.overlayBoxP {
    color: #fff;
}

.nav-link {
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding: .5em;
    margin-left: 15px;
    margin-right: 15px;
}

.logo {
    max-height: 50px;
    padding: auto;
    margin-left: 15px;
    margin-right: 15px;
}

.logo_language {
    list-style: none;
}

.logo_language_img {
    max-height: 30px;
    border-radius: 50px;
}

/*  history page*/
.round {
    border-radius: 50% !important;
}

.card_Frans {
    background: rgba(217, 217, 217, 0.30);
}

.Frans {
    padding: 50px;
}

.orange{
    border-radius: 0px 110px 110px 0px;
    background: #FF7A00;
    width: 400px;
    height: 147px;
    flex-shrink: 0;
    color: white;
    font-size: 40px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    padding: 35px;
    position: absolute; 
    bottom: 70px;
}



.top-dish-h{
    display: flex;
    width: 1230px;
    height: 110px;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background: rgba(232, 145, 79, 0.50);
}

.foodie-headers{
    margin-left: 50px;
    color: #FF7A00;
    font-size: 60px;
    font-family: Figtree;
    font-weight: 900;
    word-wrap: break-word
}

.black_background{
    background: black;
}