h1{
    text-align: center;
    padding: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 96px;
    font-weight: 800;
}

.background{
    border-radius: 15px;
    background: rgba(224, 203, 160, 0.50);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1807px;
    height: 200px;
    flex-shrink: 0;
}

.text{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 35px;
}

.bg-cream{
    max-width: 1807px;
    background: rgba(224, 203, 160, 0.50) !important;
}
.bg-gray{
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #FFF;
}
.rounded-start{
    margin: 15px;
    padding: 5px;
}